<md-tab-group>
  <md-tab>
    <template md-tab-label>Data</template>
    <template md-tab-content>
      <session-table [rowers]="api.session.rowers"></session-table>
    </template>
  </md-tab>
  <md-tab>
    <template md-tab-label>Visual</template>
    <template md-tab-content>
      <visual></visual>
    </template>
  </md-tab>
</md-tab-group>

Session status: {{ api.session.status }}<br/>

<button md-raised-button
  (click)="(api.session.status == 'active' ? api.end() : api.start())"
  [color]="(api.session.status == 'active' ? 'warn' : 'primary')"
  [disabled]="(api.session.rowers.length == 0)" >
    {{ (api.session.status == 'active' ? 'END' : 'START') }}
</button>